# List Comprehensions (and other goodies)

In [53]:
lst = [4,5,6,4,5,4]

In [54]:
new_lst = [_ + 1 for _ in lst]
new_lst

[5, 6, 7, 5, 6, 5]

In [55]:
# filter (just the evens) and map over the result a function to add 1
new_lst_filter_evens_add_1 = [_ + 1 for _ in lst if _ % 2 == 0]
new_lst_filter_evens_add_1

[5, 7, 5, 5]

In [56]:
# filter and map with anonymous functions (lambdas)
# This is effectively identicial to the previous cell
# This is also starting to look a bit like Lisp!

list(map(lambda _: _ + 1,(filter((lambda _: _ % 2 == 0), lst))))

[5, 7, 5, 5]

In [57]:
# filter and map with named functions

def addone(x: int): return x + 1
def iseven(x: int): return (x % 2 == 0)

list(map(addone,(filter(iseven, lst))))

[5, 7, 5, 5]

In [58]:
new_dict = {str(_): _ + 1 for _ in lst if _ % 2 == 0}
new_dict

{'4': 5, '6': 7}

In [59]:
new_set = {_ + 1 for _ in lst}
new_set

{5, 6, 7}

In [60]:
new_set == set(new_lst)

True

In [65]:
from functools import reduce 
reduce(lambda x, y: x + y,lst)

28

In [66]:
# should be true
sum(lst) == reduce(lambda x, y: x + y,lst)

True

In [69]:
# What happens if list is just one element long?

short_lst = [10]
reduce(lambda x, y: x + y,short_lst)

10

In [79]:
i = iter(range(10))
list(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [304]:
import itertools
natural_numbers = itertools.count(1)
next(natural_numbers)
next(natural_numbers)
next(natural_numbers)

3

In [301]:
# Function for summable sequences
# Example to get the 10th fibonacci number: get_seq_sum((0,1),10

def get_seq_sum(seq: tuple, num: int) -> int:
    for _ in range(num - 1):
        seq = (lambda seq: seq[1:] + (reduce(lambda x, y: x + y, seq),))((seq))
    return seq[-1]

In [309]:
# Get 10th fibonacci number
get_seq_sum((0,1),10)

55

In [168]:
def get_sum(seq:tuple):
    return reduce(lambda x, y: x + y, seq)

In [214]:
def get_new_tup(seq:tuple):
    return seq[1:] + (reduce(lambda x, y: x + y, seq),)